.container {
  text-align: center;
}

.gurbaniLine p {
  margin: 0;
  font-size: 30px;
  display: inline-block;
}

.title {
  font-size: 3em;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.header {
  text-align: center;
  margin-bottom: 1em;
  font-size: 1.5em;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

button {
    align-self: center;
    border: none;
    background-color: inherit;
    font-size: 1em;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    margin-top: 1em;

}
